@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Delius+Unicase:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../images/background.jpg");
}


/*Propiedades del menu*/
.menu{
    font-family: 'Delius Unicase', cursive;
    background-color: #191621;
    height: 75px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
}

.logo{
    max-width: 65px;
    padding-left: 10px;
}

.menu_items{
    display: flex;
    list-style: none;
    margin-right: 30px;
}
.menu_items li{
    border-radius: 3px;
    margin: 0 5px;
}

.menu_items li a{
    padding: 7px 13px;
    font-size: 18px;
    text-decoration: none;
    display: block;
    color: rgb(250, 255, 181);
}

.login a{
    background-color: #8a63ff;
    border-radius: 50px;
}


.menu_items a:hover{
    color:  #8a63ff;
    background-color: rgb(250, 255, 181);
    border-radius: 10px;
    transition:  all 0.3s ease 0s;
}

.menu_items .active a{
    color:  #8a63ff;
    background-color: rgb(250, 255, 181);
    border-radius: 10px;
}


.login a:hover{
    border-radius: 50px;
}

.btn_menu{
    margin-right: 30px;
    font-size: 25px;
    color:  rgb(250, 255, 181);
    cursor: pointer;
    display: none;
}

/*Propiedades del body*/
.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
}

.logop{
    width: 150px;

}

.contenedor .contenido,
.contenedor .sidebar{
    padding: 20px;
    
}

.contenedor .contenido{
    grid-column: span 2;
}

.contenedor .sidebar{
    border-radius: 20px;
    background-color:  #8a63ff;
    grid-column: 3/4;
    color: rgb(250, 255, 181);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction:column;
}

.red img{
    max-width: 50px;
    padding-top: 30px;
}

.sidebar h1{
    padding-bottom: 30px;
    font-family: 'Delius Unicase', cursive;
    
}

.banner{
max-width: 600px;
}


/*Propiedades de los textos*/
.titulo{
    color: rgb(253, 255, 230);
    font-family: 'Delius Unicase', cursive;
    font-size: 16pt;
    text-align: center;
}

.parrafo{
    color: rgb(253, 255, 230);
    font-size: 14pt;
    font-family: 'Comfortaa', cursive;
}

.slogan{
    color: rgb(250, 255, 181);
    text-align: center;
    font-family: 'Delius Unicase', cursive;
    font-size: 16pt;
}






ul.show{
    top: 65px;
}

body{
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
}

footer{
    align-self: flex-end;
    color: #8a63ff;
    background-color: #191621;
    width: 100%;
    height: 100%;
    font-size: 14pt;
    font-family: 'Comfortaa', cursive;
    text-align: center;
}

footer p{
    padding-top: 10px;
}

@media screen and (max-width: 1044px){
    .logo{
        max-width: 50;
    }
    .menu_items li a{
        font-size: 16px;
    }
}

@media screen and (max-width: 1044px){
    .menu{
        height: 65px;
    }

    .btn_menu{
        display: inline-flex;
    }
    .menu_items{
        position: fixed;
        width: 100vw;
        height: calc(100% - 65px);
        background-color: #8a63ff;
        top: -100vh;
        text-align: center;
        transition:  all 0.4s ease 0s;
        flex-direction: column;
    }
    .menu_items li{
        margin: 30px 0 0 0;
        line-height: 30px;
    }

    .menu_items li:hover{
       background-color: rgb(250, 255, 181);
    }

    .menu_items li a{
        font-size: 20px;
     }

     .menu_items li a:hover{
        color: #191621;
     }

     .contenedor .contenido{
         grid-column: 1/-1;
     }

     
     .contenedor .sidebar{
        grid-column: 1/-1;
        flex-direction: row;
        justify-content: space-between;
        font-size: 10pt;
     }

     .logop{
         max-width: 75px;
     }


     .titulo{
        color: rgb(253, 255, 230);
        font-family: 'Delius Unicase', cursive;
        font-size: 14pt;
        text-align: center;
    }
    
    .parrafo{
        color: rgb(253, 255, 230);
        font-size: 12pt;
        font-family: 'Comfortaa', cursive;
    }
    
    .slogan{
        color: rgb(250, 255, 181);
        text-align: center;
        font-family: 'Delius Unicase', cursive;
        font-size: 14pt;
    }
    
    .imgcontainer{
        z-index: 0;
    }
    
    .banner{
    max-width: 300px;
    }

}

@media screen and (max-width: 1044px) and (orientation: landscape){

    .menu_items li{
        margin: 5px 0 0 0;
    }

    .menu_items{
        overflow: scroll;
        height: calc(100% - 65px);
    }

}




